.foot_main {
  background-color: black;
  color: aliceblue;
}
.iii {
  color: aliceblue;
  /* background-color: black; */
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid aliceblue;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
}
.foot_icon {
  font-size: 20px;
  margin-right: 0.5rem;
  margin-left: 0.8rem;
}
.footer-p {
  font-size: 18px;
}
.h5 {
  font-size: 30px;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
}
.newsletter-form {
  margin-left: 0.8rem;
}
.foot_input {
  width: 100%;
  height: 100%;
  padding: 1.4rem 6rem;
  position: relative;
  text-align: left;
}
.foot_button {
  padding: 0.8rem 2rem;
  position: absolute;
  right: 25rem;

  margin-top: 8px;
  background-color: #98c33a;
  color: aliceblue;
  border: none;
}
.foot_footer {
  display: flex;
}
.footer-links{
    display: flex
}
.footer-link {
  padding: 18px;
  color: aliceblue;
  text-decoration: none;
  font-size: 17px;
}
.footer-link:hover {
  color: aliceblue;
}
.line {
  border-left: 2px solid #98c33a;
  height: 50px;
}
.site{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
/* .footer-p {
  margin: 10px;
  margin-left: -1px;
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}
.signup-button {
  background-color: lightgreen;
  color: white;
}

hr {
  border: 0;
  border-top: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.foot_main {
  position: absolute;
  width: 100%;
  padding: 100px 0px 30px;
  background-color: black;
  padding-bottom: 1px;
  padding-top: 40px;
}
p {
  color: white;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
.footer-links {
  display: flex;
  justify-content: right;
}

.footer-link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
.site-name {
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-left: 100px;
  margin-top: -30px;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  margin-right: 5px;
  color: white;
  border: 1px solid white;
}
.site-text {
  margin-top: -30px;
  margin-left: -10px;
}

.footer-p a {
  display: flex;
  align-items: center;
  gap: 15px;
}  */
